<div id="blog_home" class="menu-recent owl-style3">
	<div class="blog-title module-title">
		<div class="title-content">
			<h2>{{ text_headingtitle }}</h2>
			<div class="module-description">
				{{ module_description }}
			</div>
		</div>
	</div>
	{% set count, rows = 0, slide.rows %}
	{% if not rows %}
		{% set rows = 1 %}
	{% endif %}

	{% if articles %}
		<div class="articles-container owl-carousel owl-theme">
		{% for article in articles %}
			{% if count % rows == 0 %}
			<div class="row_items">
			{% endif %}
			{% set count = count + 1 %}
				<div class="articles-inner item-inner">
					<div class="articles-image">
						<img src="{{ article.image }}" alt="{{ article.name }}"/>
					</div>
					<div class="aritcles-content">
						<a class="articles-name" href="{{ article.href }}">{{ article.name }}</a>
						<div class="author-date">
							{% if article.author %}
								{{ text_post_by }}
								<span>{{ article.author }}</span>
							{% endif %}
							<div class="articles-date">
								<span>{{ article.date_added_d }}</span>
								{{ article.date_added_m }}
							</div>
						</div>
						<div class="articles-intro"><p>{{ article.intro_text }}</p></div>
						<div class="readmore"><a href="{{ article.href }}">{{ button_read_more }}</a></div>
					</div>												
				</div>
			{% if (count % rows == 0) or (count == articles|length ) %}
			</div>
			{% endif %}
		{% endfor %}
		</div>
	{% else %}
		<p>{{ text_empty }}</p>
	{% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function() {
		var txt = $('.aritcles-content .articles-intro').find('p').text();
		if(txt.length > 80)
		$('.aritcles-content .articles-intro').find('p').text(txt.substring(0,60) + '...');
        $(".articles-container").owlCarousel({
            autoPlay : {% if slide.auto %} true {% else %} false {% endif %},
        	items : {{ slide['items'] }},
			margin: 30,
			loop: true,			
			navSpeed : {{ slide['speed'] }},
			dotsSpeed : {{ slide['speed'] }},
			autoplaySpeed : {{ slide['speed'] }},
			nav : {% if slide.navigation %} true {% else %} false {% endif %},
			dots : {% if slide.pagination %} true {% else %} false {% endif %},
			navText : ['<i class="ion-ios-arrow-left"></i>','<i class="ion-ios-arrow-right"></i>'],
			responsive:{
				0:{
					items: 1
				},
				481:{
					items: 2
				},
				769:{
					items: 3
				},
				1024:{
					items: 3
				},
				1200:{
					items: {{ slide['items'] }}
				}
			}
    	});
    });
</script>